@model IEnumerable<Sams_Warehouse.Models.ShoppingItem>

@{
    ViewData["Title"] = "Index";
}

<h2 style="display: flex; justify-content: center;">Our catalogue</h2>
</br>
<div id="ShoppingTable">
    <partial name="_ShoppingTable" />
</div>