
@{
	ViewData["Title"] = "Settings";
}
<h1 style="display: flex; justify-content: center;">@ViewData["Title"]</h1>
</br>
<p style="display: flex;
  align-items: center;
  justify-content: center;">Set Light/Dark Mode</p>
<div class="row" style="  display: flex;
  align-items: center;
  justify-content: center;" >
	<div style="display: block; padding-right: 3%">
		<input type="image" src="~/images/LightMode.png" width="80px"/>
	</div>
	<div style="display: block; padding-left: 3%">
		<input type="image" src="~/images/DarkMode.png" width="80px"/>
	</div>
</div>